<div class="container">
  <mat-card>
    <mat-card-header>
      <h1 class="mat-headline">Import</h1>
      <h2 *ngIf="loading">Importing...</h2>
    </mat-card-header>
    <mat-card-content>
      <div class="import-form">
        <mat-form-field>
          <input type="text" placeholder="Street name" aria-label="Street name" matInput [formControl]="importRequestFormControl.streetName" [matAutocomplete]="auto1">
          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions.streetName | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Block number" aria-label="Block number" matInput [formControl]="importRequestFormControl.blockNumber" [matAutocomplete]="auto2">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions.blockNumber | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(value)]="importRequestFormControl.priestId" placeholder="Priest">
            <mat-option value="0">Unknown</mat-option>
            <mat-option *ngFor="let priest of priests" [value]="priest.id">{{priest.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="drop-zone">
          <drag-and-drop (uploaded)="fileUploaded($event)"></drag-and-drop>
        </div>
        <button mat-raised-button color="primary" (click)="send()">Import</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
