@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-pink, 600, 500, 900);
$accent: mat-palette($mat-blue-gray, A400, A300, A600);


.bgcolor-primary {
  background: mat-color($primary);
}

.bgcolor-accent {
  background: mat-color($accent);
}

.address-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.address-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.summary, .address-title, .address-description {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary {
  margin-right: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.selected {
  background: lightslategray;
  color: rgba(255, 255, 255, 1);
}

table {
  width: 100%;
}

.back-box {
  width: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background: lightgrey;
}

.pastoral-status-cell {
  text-align: center;
}
